<section class="tabs-section">
  <div id="tabs-navbar" class="border-0 p-0">
    <ul class="d-flex justify-content-center border-0 p-0 pt-5 bg-grey rounded-0">
      <li class="border-0 rounded-0 pt-3 pl-3 pr-3 m-0"><a href="#tabs-customers" class="tab-style cta-red">Customers</a></li>
      <li class="border-0 rounded-0 pt-3 pl-3 pr-3 m-0"><a href="#tabs-contact" class="tab-style">Contact</a></li>
      <li class="border-0 rounded-0 pt-3 pl-3 pr-3 m-0"><a href="#tabs-faq" class="tab-style">FAQ</a></li>
    </ul>
    <div id="tabs-customers">
      {% include "_customers.html" %}
    </div>
    <div id="tabs-contact">
      {% include "_contact.html" %}
    </div>
    <div id="tabs-faq">
      {% include "_faq.html" %}
    </div>
  </div>
</section>