<section class="p-5 contact-section ml-auto mr-auto pb-3">
  <div class="row pb-4">
    <p class=" ml-auto mr-auto">
      Bacon ipsum dolor amet tenderloin shoulder ham meatball, prosciutto spare ribs buffalo jerky.
    </p>
  </div>  
  <div class="row contact-map mt-0 mb-0 ml-auto mr-auto"></div>
  <div class="row contact-content pt-4 pb-4 justify-content-between">
    <div class="col col-md-8">
      <form class="col contact-form">
        <div class="row justify-content-between">
          <input type="text" name="firstname" placeholder="Your name" class="col col-5 contact-col mb-4" />
          <input type="email" name="email" placeholder="Your email" class="col col-5 contact-col mb-4" />
        </div>
        <div class="row"><input type="text" placeholder="Type message here..." class="col col-md-12 mb-4" /></div>
        <div class="row"><textarea type="text" placeholder="Message" class="col col-md-12 mb-4 p-3"></textarea></div>
        <div class="row"><button class="col col-md-12 cta-white">Send</button></div>
      </form>
    </div>
    <div class="col col-md-3">
      <h5 class="contact-info-title">Our Address</h5>
      <span>4896 North West Dr
      <br/>Clearwater, FL 07102
      <br/>United States</span>
        
      <h5 class="contact-info-title mt-5">Email</h5>
      <span>mail@mail.com</span>
        
      <h5 class="contact-info-title mt-5">Phone</h5>
      <span>+00 123-456-78900</span>
    </div>
  </div>        
</section>