<section class="pt-5 pb-5">
    <div class="row justify-content-center">
      <ul class="customer-list text-center">
        {% for customer in customers %}
          <li class="pt-1 pb-1 border-bottom"><a href="{{ customer.url }}" class="customer-list-link">{{ customer.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
</section>
