<footer class="p-5 justify-content-between">
  <div class="row align-items-center">
    <div class="col-6 align-middle"><span>&copy;Weeho Inc 2015</span></div>
    <div class="col-6 align-middle">
      <div class="row float-right justify-content-end">
          <a href="#">
              <div class="icon-round icon-round-footer">
                  <i class="fab fa-facebook-f"></i>
              </div>
          </a>
          <a href="#">
              <div class="icon-round icon-round-footer">
                  <i class="fab fa-twitter"></i>
              </div>
          </a>
      </div>
    </div>
  </div>
</footer>