<section id="hero-bg" class="hero-section">
  <nav class="navbar container-fluid">
    {% load static %}
    <a href="#">
      <img src="{% static "logo.png" %}" alt="Logotype" class="logo">
    </a>
    <div id="hero-nav" class="navigation col p-2 d-flex align-items-end flex-column">
      <div class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="w-100">
        <ul id="menu" style="display: none;">
          <li class="pt-3 pb-1 pr-2 border-bottom"><a href="#">En länk</a></li>
          <li class="pt-1 pb-1 pr-2 border-bottom"><a href="#">Två länk</a></li>
          <li class="pt-1 pb-3 pr-2"><a href="#">Tre länk</a></li>
        </ul>      
      </div>
  </nav>
  <div class="container">
    <div class="col">
      <div class="row hero-row ml-auto mr-auto">
        <h1 class="hero-h1 text-uppercase">Weeho</h1>
        <p class="hero-text text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p> 
        <a href="#" class="hero-button cta">Book demo</a>
      </div>
    </div>
  </div>
</section>
