<section class="offers-section">
  <div class="container">
    <div class="row offers-row d-flex justify-content-between">
        <div class="col-10 col-md-4 d-flex flex-column align-items-center text-center offers-single">
            <div class="icon-round d-flex justify-content-center align-items-center">
              <i class="far fa-gem"></i>
            </div>
            <h5 class="font-weight-bold offers-h5">We Are Creative</h5>
            <p class="offers-text mw-100">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
        <div class="col-10 col-md-4 d-flex flex-column align-items-center text-center offers-single">
            <div class="icon-round d-flex justify-content-center align-items-center">
              <i class="fas fa-cog rotating"></i>
            </div>
            <h5 class="font-weight-bold offers-h5">We Have Skills</h5>
            <p class="offers-text mw-100">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-10 col-md-4 d-flex flex-column align-items-center text-center offers-single">
            <div class="icon-round d-flex justify-content-center align-items-center">
              <i class="far fa-life-ring"></i>
            </div>
            <h5 class="font-weight-bold offers-h5">We Love To Help</h5>
            <p class="offers-text mw-100">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam.</p>
        </div>
    </div>
  </div>
</section>