@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');

body { 
  background: #fff;
}
footer {
  background: #494949;
  color: #fff;
  height: 120px;
}

h1, h5, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900 !important;
}
.ui-widget-content a:hover {
  color: #fa5c58;
  text-decoration: none;
}
p, span {
  font-family: 'Playfair Display', serif;
}

.hero-section::before {
  content: "";
  background: url('/static/bg.jpg') top center no-repeat;
  background-size: cover;
  opacity: 0.33;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero-section {
  background: #494949;
  position: relative;
  height: 500px;
}
.hero-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 150px;
  margin-top: 80px;
}
.hero-h1 {
  color: #fff;
  margin-bottom: 20px;
}
.hero-text {
  color: #fff;
}
.hero-button {
  background: #fa5c58;
  color: #fff;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 2;
}

.navbar {
  background: transparent;
}
.logo {
  width: 40px;
  height: 40px;
}
#hero-nav {
  position: relative;
}
.menu-icon {
  width: 30px;
  height: 40px;
}
.menu-icon span {
  display: block;
  width: 100%;
  height: 5px;
  background: #fff;
  margin-bottom: 5px;
  border-radius: 10px;
}
#menu {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  position: absolute;
  right: 8px;
  z-index: 1000;
  list-style: none;
  background: #fff;
  width: 150px;
  text-align: right;
}

#menu a {
  color: #494949;
  text-decoration: none;
}
#menu a:hover,
#menu a:active {
  color: #fa5c58;
  text-decoration: none;
}

.offers-row {
 padding-top: 100px;
 padding-bottom: 100px;
}
.offers-single {
  height: 300px;
}
.icon-round {
  color: #fa5c58;
  width: 60px;
  height: 60px;
  border: 1px solid #494949;
  border-radius: 50%;
}
.icon-round .far, .icon-round .fas {
  font-size: 25px;
}
.offers-h5 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.offers-text {
  font-size: 14px;
}

.tabs-section {
  height: 1142px;
}
/* overrides jQuery ui */
.bg-grey {
  background: #494949 !important;
}
a#ui-id-1, 
a#ui-id-2, 
a#ui-id-3 {
  font-size: 22px !important;
  color: #fff !important;
}
.ui-tabs-active a#ui-id-1, 
.ui-tabs-active a#ui-id-2, 
.ui-tabs-active a#ui-id-3,
.ui-tabs-active a#ui-id-1:hover, 
.ui-tabs-active a#ui-id-2:hover, 
.ui-tabs-active a#ui-id-3:hover {
  color: #494949 !important;
}
.ui-state-active, 
.ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: #fff !important;
}
.ui-tabs .ui-tabs-nav li {
  background: #494949;
}

.customer-list, 
#faq-list {
  list-style: none;
  width: 600px;
}
.customer-list > a,
#faq-list > a  {
  color: #494949 !important;
}
.customer-list > li:first-child,
#faq-list  > li:first-child {
  border-top: 1px solid #dee2e6;
}

.contact-section {
  width: 100%;
  max-width: 1142px;
  height: 900px;
}

.contact-map {
  background: url('/static/map.png') top center no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 1142px;
  height: 318px;
}
.contact-content {
  width: 100%;
}
.contact-info-title {
  margin-bottom: 25px;
}

.col-5.contact-col {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 47% !important;
          flex: 0 0 47% !important;
  max-width: 47% !important;
}
.contact-form input,
.contact-form textarea {
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  background: #f1f4f7;
  color: #494949;
  border: 0;
}
.contact-form input {
  height: 50px;
}
.contact-form textarea {
  height: 200px;
}
.contact-form button {
  background: #fa5c58;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  height: 50px;
  border: 1px solid #fa5c58;
}

.icon-round-footer {
  color: #494949;
  background: #fff;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  margin-left: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 6px;
}
.icon-round-footer .fab {
  font-size: 14px;
}

/* fluff */

.rotating {
  -webkit-animation: rotation 5s infinite linear;
}
@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

.hero-button:hover,
.hero-button:active,
.contact-form button:active,
.contact-form button:hover {
  background: #fff;
  color: #494949;
  text-decoration: none;
}
a#ui-id-1:hover, 
a#ui-id-2:hover, 
a#ui-id-3:hover,
.icon-round-footer:hover {
  color: #fa5c58 !important;
  text-decoration: none;
}
.icon-round:hover {
  color: #494949;
  text-decoration: none;
}
